/* .auth-page{
    background-color: rgb(209, 209, 209);
} */

input{
    border:2px solid gray;
    background-color: rgb(174, 177, 177);
}

#mainSection{
    background-color:rgb(52, 58, 64);
}
#loginCard{
    background-color: azure;
}
#loginButton{
    color: azure;
    background-color: rgb(4, 125, 27);
}
#loginButton:hover{
    background-color: rgb(62, 117, 25);
}
#loginTitle{
    color: rgb(97, 117, 8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}