.scrollable-section{
    align-self: center;
    height: 480px;
    overflow-y: auto;
    overflow-x: auto;
  }
.scrollable-section2{
    align-self: center;
    height: 220px;
    width:30dvw;
    overflow-y: auto;
    overflow-x: auto;
  }

  hr {
    height: 3px;
    background-color: rgb(0, 0, 0); 
  }

  .paginaton{
    position: fixed;
    bottom:0px;
    width: 80%;  
  }

  .border-redius{
    border-radius: 20px;
  }