<div class="container" style="width: 84dvw">
  <div class="row">
    <form [formGroup]="rideForm">
      <!-- Phone -->
      <div class="row mt-4">
        <div class="col-10 d-flex">
          <label for="Phone" class="col-2 label">Phone :- </label>
          <div class="col-5">
            <div class="d-flex">
              <input
                type="text"
                id="phone"
                class="form-control"
                formControlName="phone"
                placeholder="Enter User's Phone no."
                maxlength="10"
                (keydown)="allowOnlyDigits($event)"
              />
              <button
                type="button"
                class="btn ms-4"
                (click)="onVerifyPhoneNumber()"
                (keypress)="onVerifyPhoneNumber()"
                [ngClass]="{
                  'btn-warning': rideForm.get('phone')?.invalid,
                  'btn-success': rideForm.get('phone')?.valid
                }"
                [disabled]="rideForm.get('phone')?.invalid"
              >
                Verify
              </button>
            </div>
            <small
              *ngIf="rideForm.get('phone')?.errors?.['required'] && (rideForm.get('phone')?.dirty || rideForm.get('phone')?.touched)"
              >*Phone number is required</small
            >
            <small
              *ngIf="rideForm.get('phone')?.errors?.['pattern'] && (rideForm.get('phone')?.dirty || rideForm.get('phone')?.touched)"
              >*Phone number must be 10 DIGITS</small
            >
          </div>
        </div>
      </div>
      <!-- If Verified -->
      <div [ngStyle]="{ display: isVerified ? 'block' : 'none' }">
        <!-- profile -->
        <div class="row mt-4">
          <div class="d-flex col-6">
            <label for="userName" class="col-3 label">UserName :- </label>
            <div class="ms-3 col-7">
              <p class="userDetails" id="userName"></p>
            </div>
          </div>
          <div class="d-flex col-6">
            <label for="userEmail" class="col-3 label">User Email :- </label>
            <div class="ms-3 col-7">
              <p class="userDetails" id="userEmail"></p>
            </div>
          </div>
        </div>
        <!-- Pickup & Drop -->
        <div class="row mt-4">
          <div class="d-flex col-6">
            <label for="source" class="col-3 label">Source :- </label>
            <div class="col-7">
              <div class="d-flex">
                <input
                  type="text"
                  id="source"
                  class="form-control ms-3"
                  formControlName="source"
                  placeholder="Enter Source Location"
                />
                <button
                  type="button"
                  id="currentLocationSelector"
                  class="ms-3 btn btn-info"
                  (click)="getCurrentLocation()"
                  data-toggle="tooltip"
                  title="Get Current Location"
                >
                  <i class="fas fa-location"></i>
                </button>
              </div>
              <small
                *ngIf="rideForm.get('source')?.errors?.['required'] && (rideForm.get('source')?.dirty || rideForm.get('source')?.touched)"
                >*Source is required</small
              >
            </div>
          </div>
          <div class="d-flex col-6">
            <label for="destination" class="col-3 label">Destination :- </label>
            <div class="ms-3 col-7">
              <input
                type="text"
                id="destination"
                class="form-control"
                formControlName="destination"
                placeholder="Enter Destination "
              />
              <small
                *ngIf="rideForm.get('destination')?.errors?.['required'] && (rideForm.get('destination')?.dirty || rideForm.get('destination')?.touched)"
                >*Destination is required</small
              >
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="d-flex col-10">
            <label for="stopAutocomplete" class="col-2 label">Stop :-</label>
            <div class="d-flex col-4">
              <input
                id="stopAutocomplete"
                type="text"
                class="form-control stops"
                placeholder="Enter Stop"
              />
              <button type="button" class="ms-3 btn btn-danger" (click)="onAddStop()">
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-4 d-flex">
          <div class="col-2"></div>
          <div
            class="d-flex stopsBox me-1"
            *ngFor="let stop of stopsArray; index as i"
          >
            <p>{{ stop }}</p>
            <button
              type="button"
              class="ms-3 btn-close"
              (click)="onRemoveStop(i)"
              (keypress)="onRemoveStop(i)"
            ></button>
          </div>
        </div>
        <!-- Service Type & Payment Method -->
        <div class="row mt-4" *ngIf="isCalulated">
          <div class="d-flex col-6 align-self-center">
            <label for="estimatedDistance" class="col-3 label"
              >Distance :-
            </label>
            <div class="ms-3 col-7">
              <p class="userDetails" id="estimatedDistance">
                {{ calculated_distance }}
              </p>
            </div>
          </div>
          <div class="d-flex col-6">
            <label for="estimatedTime" class="col-3 label">Time:- </label>
            <div class="ms-3 col-7">
              <p class="userDetails" id="estimatedTime">
                {{ calculated_time }}
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-4 d-flex" *ngIf="isCalulated">
          <label for="serviceType" class="col-2 label">Service Type :-</label>
          @defer(on timer(2000ms)){
          <ng-container class="" *ngFor="let pricing of vehiclePricings">
            <input
              type="radio"
              class="align-self-center"
              name="serviceType"
              formControlName="serviceType"
              id="{{ pricing.vehicleType }}"
              value="{{ pricing.vehicleType }}"
            />
            <label for="{{ pricing.vehicleType }}" class="box samllLabel me-2"
              ><div>
                <img
                  src="http://localhost:3000/{{ pricing.vehicleImage }}"
                  class="mb-2"
                  alt="{{ pricing.vehicleType }}"
                  width="100%"
                  height="80px"
                />
                <p><b>Type:- </b>{{ pricing.vehicleType }}</p>
                <p>
                  <b>price:- </b> {{ currency }}
                  {{ pricing.price | number : ".2-2" }}
                </p>
              </div></label
            >
          </ng-container>
          } @placeholder {
          <h3>Loading ......</h3>
          }
        </div>

        <div class="row mt-4 d-flex" *ngIf="isCalulated">
          <label for="paymentMethod" class="col-2 label">Service Type :-</label>
          <div class="col-3 d-flex">
            <input
              type="radio"
              class="align-self-center"
              name="paymentMethod"
              formControlName="paymentMethod"
              id="cash"
              value="cash"
            />
            <label for="cash" class="samllLabel me-2 ms-2"
              ><img
                src="../../../../assets/Images/cash.jpg"
                alt="Cash"
                height="40px"
                width="60px"
            /></label>
          </div>
          <div class="col-3 d-flex" *ngIf="hasCard">
            <input
              type="radio"
              class="align-self-center"
              name="paymentMethod"
              formControlName="paymentMethod"
              id="card"
              value="card"
            />
            <label for="card" class="samllLabel me-2 ms-2"
              ><img
                src="../../../../assets/Images/card2.jpg"
                alt="Cash"
                height="40px"
                width="60px"
            /></label>
          </div>
        </div>
        <!-- to here -->
        <!-- Timing of ride -->
        <div class="row mt-4 d-flex" *ngIf="isCalulated">
          <label for="rideTime" class="col-2 label"
            >Select Time of Ride :-</label
          >
          <div class="col-2">
            <input
              type="radio"
              name="rideTime"
              id="schedule"
              (click)="onSelectSchedule()"
            />
            <label for="schedule" class="ms-2 label align-self-center"
              >Schedule</label
            >
          </div>
          <div class="col-2">
            <input
              type="radio"
              name="rideTime"
              id="now"
              (click)="onClickNow()"
            />
            <label for="now" class="ms-2 label align-self-center">Now</label>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="dateAndTimeModal"
          tabindex="-1"
          aria-labelledby="dateAndTimePickerModal"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="dateAndTimePickerModal">
                  Schedule Your Ride
                </h1>
              </div>
              <div class="modal-body">
                <input
                  id="dateInputInModal"
                  type="datetime-local"
                  class="form-control"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onSubmitDateAndTime()"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
        <hr />
        <div class="row mb-4">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success me-4" (click)="onCreateRide()">
              Create Ride
            </button>
            <button type="button" class="btn btn-dark me-4" (click)="onClickCalculatePricing()">
              Calculate Distance
            </button>
            <button type="button" class="btn btn-danger" (click)="onReset()">Reset</button>
          </div>
        </div>
        <hr />
      </div>
      <div class="row mt-4">
        <div id="map"></div>
      </div>
      <hr />
    </form>
  </div>
</div>
