<div class="container" style="width: calc(100dvw - 262px)">
  <div
    class="toast-container p-3"
    style="position: fixed; top: 10px; right: 0.5vw"
  >
    <div
      id="SettingsSuccessToast"
      class="toast align-items-center text-bg-success fs-5 border-0"
      role="success"
      aria-live="assertive"
      aria-atomic="true"
      style="z-index: 5; position: fixed; top: 10 ewm; right: 0"
    >
      <div class="toast-body d-flex justify-content-between">
        <p id="inToast"></p>
        <button
          type="button"
          class="btn-close align-self-flex-end"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
  <!-- failure Toast -->

  <div
    id="settingsFailureToast"
    class="toast align-items-center text-bg-danger fs-5 border-0"
    role="success"
    aria-live="assertive"
    aria-atomic="true"
    style="z-index: 5; position: fixed; top: 10 ewm; right: 0"
  >
    <div class="toast-body d-flex justify-content-between">
      <p id="inFailureToast"></p>
      <button
        type="button"
        class="btn-close align-self-flex-end"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>

  <form>
    <div class="row mt-2 mb-2">
      <label for="timeOut" class="col-3 fs-5"><b>TimeOut :-</b></label>
      <div class="col-7">
        <select
          name="timeOut"
          id="timeOut"
          class="col-6 form-select"
          (change)="onTimeOutChange($event)"
        >
          <option *ngFor="let timeout of timeOutOptions" value="{{ timeout }}">
            {{ timeout }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <label for="stops" class="col-3 fs-5"><b>Stops :-</b></label>
      <div class="col-7">
        <select
          name="stops"
          id="stops"
          class="col-6 form-select"
          (change)="onStopsChange($event)"
        >
          <option *ngFor="let stop of stopOptions" value="{{ stop }}">
            {{ stop }}
          </option>
        </select>
      </div>
      <div class="row mb-2 mt-3 justify-content-center">
        <button
          type="button"
          class="btn btn-dark"
          style="width: 5rem"
          (click)="onSaveChanges()"
        >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
