select,input{
    border:2px solid grey
}

#mainsection {
    border: 1px solid #000; /* Black border */
    padding: 10px;          /* Space inside the border */
    margin: 10px 0;         /* Space outside the border */
    border-radius: 5px;     /* Rounded corners */
    max-width: 400px;       /* Maximum width */
    
  }
  
  .headings{
    margin-top: 0; 
    font-weight: 700;
    color: rgba(83, 81, 81, 0.728);
  }

  .scrollable-section{
    height: 80dvh;
    overflow-y: scroll;
    overflow-x: hidden;
  }