<div style="width: 82dvw;" class="m-2">
<div class="container m-0 p-0">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div
        style="background-color: rgb(172, 170, 167)"
        id="vehicle-registration-form"
        class="container-fluid mt-2 mb-4"
      >
        <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-column justify-content-center">
            <div class="form-group">
              <label for="type">Vehicle Type</label>
              <input type="text" formControlName="type" class="mt-3 form-control" placeholder="Enter Vehicle Type">
              <small
                *ngIf="vehicleForm.get('type')?.errors?.['required'] && (vehicleForm.get('type')?.dirty || vehicleForm.get('type')?.touched)"
              >*Vehicle Image is required</small>
            </div>
            <div class="form-group">
              <label for="vehicleName">Vehicle Image</label><br />
              <input
                type="file"
                class="mt-3 form-control"
                id="vehicleImage"
                formControlName="vehicleImage"
                accept="image/*"
                (change)="onFileChange($event)"
              />
              <small
                  *ngIf="vehicleForm.get('vehicleImage')?.errors?.['required'] && (vehicleForm.get('vehicleImage')?.dirty || vehicleForm.get('vehicleImage')?.touched)"
                >*Vehicle Image is required</small>
                <p class="oldProfile" *ngIf="isEdit" >{{previousImage | slice:21}}</p>
            </div>

            <div clsss="form-group">
              <button
                type="button"
                class="btn btn-dark"
                *ngIf="isEdit"
                (click)="onSubmitEdit()"
              >
                Submit Edit</button
              >&nbsp;&nbsp;&nbsp;&nbsp;
              <button
                *ngIf="isEdit"
                type="button"
                class="btn btn-dark"
                (click)="onCancel()"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-dark"
                *ngIf="!isEdit"
                (click)="onSubmit()"
                [disabled]="vehicleForm.invalid"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <hr />
  <div class="row ms-1">
    <div class="col-1"><h5>Index</h5></div>
    <div class="col-5"><h5>Vehicle Image</h5></div>
    <div class="col-2"><h5>Vehicle Type</h5></div>
    <div class="col-4 d-flex justify-content-center align-content-center"><h5>Actions</h5></div>
  </div>
  <hr />
</div>

<div class="container scrollable-section m-0 p-0">
  @if(vehiclesList.length < 0){
    <div
    style="height: 300px; align-content: center"
    class="row text-align-center align-self-center justify-content-center"
    >
      <h3>No Data found</h3>
    </div>
  }@else{
    <div
    class="row vehicles-row mb-2"
    *ngFor="let vehicle of vehiclesList; index as i"
    >
      <div class="col-1 align-self-center">&nbsp;&nbsp;&nbsp;{{ i + 1 }}</div>
      <div class="col-5 align-self-center">
        <img
          height="120px"
          width="180px"
          src="http://localhost:3000/{{ vehicle.vehicleImage }}"
          alt="img"
        />
      </div>
      <div class="col-2 align-self-center">{{ vehicle.type }}</div>
      <div class="col-2 align-self-center">
        <button id="editbutton" class="btn btn-success" (click)="onEdit(i)">
          Edit
        </button>
      </div>
      <div class="col-2 align-self-center">
        <button
          id="deletebutton"
          class="btn btn-large btn-danger"
          (click)="onDelete(i)"
        >
          Delete
        </button>
      </div>
  </div>
  }
</div>
</div>
